.accounts{
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-right: 100px;
}

.title{
  text-align: center;
}

.piechart{
  align-content: center;
}