.accounts{
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-right: 100px;
}

.accounts-title{
  text-align: center;
}

.piechart{
  align-content: center;
}

.accounts-list {
  margin-top: 20px;
}

.accounts-total {
  margin-top: 50px;
  margin-right: 200px;
}

.accounts-modal {
  margin-right: 5px;
}

.accounts-icon {
  margin-right: 50px;
}