/* dashboard */
.dashboard {

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); // 2columns same width
  // grid-auto-rows: minmax(180px, auto);

  .box {
    padding: 20px;
    border-radius: 10px;
    //border: 1px solid #384256;
    text-align: center;
    background: #fff;
    box-shadow: 0 7px 25px 0 rgb(0, 0, 0, 0.08);
    // transition: background-color 0.3s ease;

  }

  .box1 {
    grid-column: span 1;
    grid-row: span 2
  }

  .box2 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .box3 {
    grid-column: span 2;
    grid-row: span 1;

  }

  .box5 {
    grid-column: span 3;
    grid-row: span 1;
  }
  .box4 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .big_text_1 {
    font-size: 2rem;
  }

  .text-end {
    text-align: right;
  }

  .number {
    font-size: 35px;
    font-weight: 500;

  }
  .number-total-account {
    font-size: 25px;
    font-weight: 600;

  }

  // .box:hover{
  //   background: #e0e0e0;
  // }
  // .card:hover .big_text_1 {
  //   color: #fff;
  // }

  // .box {

  //   transition: background-color 0.3s ease;
  //   /* Add transition for a smooth effect */

  //   /* Initial styles */
  //   &:hover {
  //     background-color: #b6d5be;
  //     /* Change background color on hover */
  //   }

  //   // &:focus {
  //   //   outline: 2px solid #007bff;
  //   //   /* Add focus outline */
  //   // }
  // }
  .icon-box{
    font-size: 45px;
    color:#e0e0e0 ;
  }
}

.chartInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart {
  width: 100%;
  height: 100%
}

.texts {
  font-size: 20px;
  text-align: right;
}

.percentage {
  font-weight: bold;
  font-size: 20px;
}

.accounts-total {
  font-size: 30px;
}


/* End dashoboard  */