
/* dashboard */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 15px;
  border-radius: 5px;
  width: 600px;
  height: 180px;
}


  .monthly-balance-chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

// .card {

//   transition: background-color 0.3s ease; /* Add transition for a smooth effect */

//   /* Initial styles */
//   &:hover {
//     background-color: #e0e0e0; /* Change background color on hover */
//   }

//   &:focus {
//     outline: 2px solid #007bff; /* Add focus outline */
//   }
// }

// /* Add focus styles for keyboard navigation */
// .card:focus {
//   box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
// }

// .card:first-child {
//   background-color: #8884d8;
// }

// .card:nth-child(2) {
//   background-color: #82ca9d;
// }

// .card:nth-child(3) {
//   background-color: #FF8042;
// }


// .card-inner {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .card-inner > .card_icon {
//   font-size: 25px;
// }

// .charts {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 20px;
//   margin-top: 60px;
//   height: 300px;
// }
// .recent-transactions {
//   display: grid;
//   grid-template-columns: 1fr;
//   background-color: #FF8042;
//   gap: 60px;
//   margin-top: 90px;
//   height: 300px;
// }
/* End dashoboard  */
