.reports{

  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2,1fr); // 2columns same width


  h1{

    margin-bottom: 20px;
  }

  .box{
    padding: 10px;
    text-align: center;

  }
  .box2{
    grid-column: span 1;
    grid-row: span 2
  }

  .box3{
    grid-column: span 1;
    grid-row: span 2
  }
  .box1{
    grid-column: span 2;
    grid-row: span 2;
  }
}