// Import Bootstrap's Source SASS files here. Then import this file in `App.jsx`.
@import '~bootstrap/scss/bootstrap';

* {
  font-family: sans-serif;
}

body {
  background-color: #F1FBFF;
}

.App {
  height: 100%;
}